<div class="user-card">
    <div class="user-card__wrapper" *ngFor="let user of Users">
        <div class="user-card__photo-wrapper">
            <div class="user-card__countries">
                <span class="user-card__countries-flag flag-1"></span>
                <span class="user-card__countries-flag flag-2"></span>
                <span class="user-card__countries-flag flag-3"></span>
                <span class="user-card__countries-flag flag-4"></span>
                <span class="user-card__countries-flag flag-5"></span>
                <span class="user-card__countries-flag flag-6"></span>
                <span class="user-card__countries-flag flag-7"></span>
                <span class="user-card__countries-flag flag-8"></span>
                <span class="user-card__countries-flag flag-9"></span>
            </div>
            <div class="user-card__profile-photo">
                <img src="../../assets/images/user-photo.png" alt="">
                <div class="user-card__edit edit-photo">
                    <i class="material-icons">edit</i>
                </div>
            </div>
            
        </div>

        <div class="user-card__data">
            <div class="user-card__username">
                    {{ user.name }}
                    <i class="material-icons">verified_user</i>
            </div>
            <div class="user-card__social-wrapper">
                <div class="user-card__rating">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                </div>
                <a class="user-card__review" 
                    href="http://"
                >{{ user.reviews }} Reviews</a>
            </div>
            <div class="user-card__description">
                {{ user.desc }}
            </div>
            <div class="user-card__place">
                <i class="material-icons">location_on</i>
                <a href="http://">Lviv, Ukraine</a>
            </div>
        </div>

        <div class="user-card__edit">
            <i class="material-icons">edit</i>
        </div>
    </div>
</div>
