.user-card {
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 395px;
        margin: 0 auto;
        padding: 24px 24px;
        border-radius: 10px;
        background-color: #ffffff;
        position: relative;
    }

    &__photo-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: 21px 0 21px 21px;
        position: relative;
        min-width: 136px;
        margin-right: 10px;
    }

    &__edit {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        position: absolute;
        top: 11px;
        right: 11px;
        border-radius: 100%;
        cursor: pointer;

        &.edit-photo {
            top: 4px;
            right: 14px;
            background: #4C547B;

            .material-icons {
                font-size: 13px;
                color: #ffffff;
            }
        }

        .material-icons {
            font-size: 18px;
            color: #4C547B;
        }
    }

    &__countries {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__countries-flag {
        width: 18px;
        height: 18px;
        border-radius: 100%;
        overflow: hidden;
        display: block;
        cursor: pointer;
        position: absolute;
        left: 0;

        &.flag-1 {
            background-image: url('../../assets/images/icons/Ellipse23.jpg');
            top: 0;
            left: 67px;
        }
        &.flag-2 {
            background-image: url('../../assets/images/icons/Ellipse20.jpg');
            top: 5px;
            left: 44px;
        }
        &.flag-3 {
            background-image: url('../../assets/images/icons/Ellipse19.jpg');
            top: 20px;
            left: 20px;
        }
        &.flag-4 {
            background-image: url('../../assets/images/icons/Ellipse15.jpg');
            top: 43px;
            left: 5px;
        }
        &.flag-5 {
            background-image: url('../../assets/images/icons/Ellipse16.jpg');
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &.flag-6 {
            background-image: url('../../assets/images/icons/Ellipse17.jpg');
            left: 5px;
            bottom: 44px;
        }
        &.flag-7 {
            background-image: url('../../assets/images/icons/Ellipse18.jpg');
            left: 20px;
            bottom: 20px;
        }
        &.flag-8 {
            background-image: url('../../assets/images/icons/Ellipse21.jpg');
            left: 43px;
            bottom: 5px;
        }
        &.flag-9 {
            background-image: url('../../assets/images/icons/Ellipse22.jpg');
            left: 67px;
            bottom: 0;
        }
    }

    &__profile-photo {
        width: 110px;
        height: 110px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__data {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &__username {
        width: 80%;
        margin-bottom: 9px;
        color: rgba(0, 31, 61, 0.9);
        font-size: 20px;
        font-weight: 700;
        position: relative;
        .material-icons {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 15px;
            color: rgba(71, 180, 185, 0.6);
        }

        
    }

    &__social-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        margin-bottom: 4px;
    }

    &__rating {
        margin-right: 16px;
        .material-icons {
            margin-right: 5px;
            font-size: 16px;
            color: rgba(220, 24, 0, 0.8);
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__review {
        font-size: 9px;
        color: #3C738D;
        text-decoration-line: underline;
    }

    &__description {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16px;
        color: rgba(0, 31, 61, 0.8);
        
    }

    &__place {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        color: rgba(0, 31, 61, 0.6);
        cursor: pointer;

        .material-icons {
            font-size: 12px;
        }

        a {
            font-size: 9px;
        }
    }
}